:root {
  --test-color: #e4e68e;
  --card-content-background: #eeeeee;
  --lightblue: lightblue;
  --lightgreen: lightgreen;
  --magenta: #b9005f;
  --gradient-magenta: linear-gradient(to right, #b9005f, #e30059);
  --groen: #25ae93;
  --blauw: #606eb3;
  --grijs: #f3f3f3;
  --wit: #fff;
  --geel: #ffd05f;
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap");

@font-face {
  font-family: "Fira Sans Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Fire Sans Medium") url(../assets/fonts/FiraSans-Medium.ttf) format("truetype");
}


/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Fira Sans', sans-serif;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-weight: initial;
}


/* Content styling */

body {
  height: 100%;
  font: 100%/1.4 'Fira Sans Regular', sans-serif;
}

header {
  width: 100%;
  height: auto;
  display: block;
  position: sticky;
  top: 0;
}

header #logo {
  width: auto;
  height: 5rem;
  border: 4px solid #fff;
  border-radius: 0 0 3em 0;
  background-color: #fff;
  position: absolute;
  z-index: 2;
}

header #logo::after {
  width: 1em;
  aspect-ratio: 1/1;
  /* background-color: #f72e96; */
}

#after-curve {
  width: 100%;
  height: 2.5em;
  background-color: #fff;
  float: inline-end;
  position: inherit;
}

#after-curve::before {
  content: "";
  width: 3.5em;
  height: 3.5em;
  position: absolute;
  top: 2.5em;
  box-shadow: 0.1em -1em 0 -0.2em white;
  border-radius: 60% 0 0 0;
}

#curve {
  width: 1em;
  height: 2em;
  display: block;
  background-color: sierra;
}


