:root {
    --test-color: #FAC141;
}


html {
    scroll-behavior: smooth scroll;
}



@media (max-width: 768px) {
    .category-container {
        background-color: var(--test-color);
        /* height: 10em; */
    }

    .category-container {
        display: inline-block;
        overflow-y: auto;
        overflow-x: hidden;
    }

}
